
.hero{
  background-image: url("https://images.unsplash.com/photo-1526058932873-75b32245945c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150vh;
}


@media only screen and (max-width: 768px) {
  .hero{
    background-size: cover;
    height: 100vh;
  }
}
