.navbar-toggler:focus{
  outline: none !important;
  border: none;
}
.portfolio{
  min-height: 100vh;
}
.img-fluid{
  max-height: 150px;
}
.hero{
  background: #64b9ee ;
  height: 150vh;
  padding-top: 20%;
}
.footer{
  background: #64b9ee;
  opacity: 0.7;
}
li{
  list-style: none;
}
i{
  text-decoration: none;
  color: black;
}
*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 767px) {
  .hero{
    background-size: cover;
    height: 100vh;
    padding-top: 40%;
  }

}
